<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Applications</title>
  </head>
  <body>
    <h3>Your Applications - <%= applications.length %></h3>
    <ul>
      <% applications.forEach((application)=>{%>
      <li>
        <div>Designation: <%=application.designation%></div>
        <div>College: <%=application.college%></div>
        <div>
          View Job:
          <a href="<%=application.jobLink%>" target="_blank">Click Here</a>
        </div>
      </li>
      <%})%>
    </ul>
  </body>
</html>
