<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp | Professor Appointment Online</title>
  </head>
  <body>
    <h1>Signup As</h1>
    <form action="/signup" method="post">
      <div>
        <input type="radio" id="college" name="userType" value="college" />
        <label for="college">College</label>
        <input type="radio" id="faculty" name="userType" value="faculty" />
        <label for="faculty">Faculty</label>
      </div>
      <button type="submit">Go Ahead</button>
    </form>
  </body>
</html>
